<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				{{#if showCloseBtn}}
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				{{/if}}
				<h4 class="modal-title">{{title}}</h4>
			</div>
			<div class="modal-body">
				{{yield}}
			</div>
			{{#if showFooter}}
				<div class="modal-footer">
					{{#each btn in customButtons}}
						{{#unless btn.isHidden}}
							<button type="button"
								{{bind-attr class=":btn btn.style"}}
								{{action 'customBtnClick' btn}}>

								{{btn.title}}
							</button>
						{{/unless}}
					{{else}}
						<button type="button" class="btn btn-primary" {{action 'ok'}}>OK</button>
						{{#if showCancelBtn}}
							<button type="button" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
						{{/if}}
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</div>