<div class="row">
	<div class="col-sm-5 col-sm-push-7 game-info">
		<div class="row">
			{{#unless isGameOver}}
				<div class="player-name-block col-sm-12 col-xs-6">
					<div class="block-label">Player's names</div>
					<div>
						<span class="player-name">{{player1.nameOne}}</span> vs
						<span class="player-name">{{player2.nameTwo}}</span><br>	
						<a href="#" class="edit-name-btn" {{action 'editName'}}><span class="glyphicon glyphicon-pencil"></span></a>
											
						<!--<a href="#" class="btn btn-default visible-xs-inline" {{action 'editName'}}><span class="glyphicon glyphicon-pencil"></span> Edit</a>-->
					</div>
				</div>
				<div class="players-marks-block col-sm-12 col-xs-6">
					<div>
						<div class="block-label">{{player1.nameOne}} plays</div>
						<div  {{bind-attr class=":player-mark player1.mark"}}>

						</div>
					</div>
					<div>
						<div class="block-label">{{player2.nameTwo}} plays</div>
						<div {{bind-attr class=":player-mark player2.mark"}}>

						</div>
					</div>
				</div>
			{{else}}
				<div class="col-xs-12 col-sm-10">
					<div {{bind-attr class=":game-over-text gameOverStatus"}}>
						{{gameOverText}}
					</div>
				</div>
			{{/unless}}
		</div>
		<div class="row game-btns-block">
			{{#unless isGameOver}}
				<div class="col-xs-6 col-sm-10">
					<a class="btn btn-block btn-primary" href="#" {{action 'restartGame'}}>Restart Game</a>
				</div>
				<div class="col-xs-6 col-sm-10">
					<a class="btn btn-block btn-primary" href="#" {{action 'showModal' 'game-results-modal'}}>Game Results</a>
				</div>
			{{else}}
				<div class="col-xs-6 col-sm-10">
					<a class="btn btn-block btn-primary" href="#" {{action 'playAgain'}}>New game</a>
				</div>
				<div class="col-xs-6 col-sm-10">
					<a class="btn btn-block btn-primary" href="#" {{action 'showModal' 'game-results-modal'}}>Game Results</a>
				</div>
			{{/unless}}
		</div>
	</div>
	<div class="col-sm-7 col-xs-12 col-sm-pull-5">
		<div {{bind-attr class=":game-field isGameOver:disabled"}}>
			<div class="game-field-container">
				{{#each rows in field.cells}}
					{{#each cell in rows}}
						{{view 'App.FieldCellView' cell=cell}}
					{{/each}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
